 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>

    <style>
        .container{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-basis: 100%;
    
}

.myform{
    flex:center;
    justify-content: center;
    flex-direction: center;
    background: #f3f3f3;
    border: 2px solid black;
    

    
}
.form-group{
    padding: 10px;
    margin: 10px;
}
label{
    display: block;
}

.myform input {
 width: 300px;
 border:none;
 height: 30px;
 border-radius: 10px;

}
input:focus{
    outline: none;
}
.btn{
    margin:0 0 15px 20px;
    padding: 10px 15px;
    border:none;
    width: 300px;
    height: 30px;
    background:green;
    color:white;
    cursor:pointer;
    border-radius: 3px;
}
.errors{
    width: 300px;
    height: 15px;
    list-style: none;
    background: red;
    color: white;
    display: block;
    margin: 5px auto;
    padding: 10px 15px;
}

li{

    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 8px;
}
    </style>
</head>
<body>
<%- body  %>
</body>
</html>