
        
        <div class=" head"><h1> Creat an Account with Us</h1></div>
        <% include ./partials/messages %>

        <div class="container">

               <form class="myform" method="POST" action="/User/register">
                    <div class="form-group">
                    
                    <label for="name">Name :</label>
                    <input  
                    type="text",
                    name="name",
                    placeholder=" enter your name",
                    value=" <%= typeof name != 'undefined'? name:''%> "
                    />
                    </div>
                       <div class="form-group">
                     
                    <label for="email">Email:</label>
                    <input  
                    type="email",
                    name="email",
                    placeholder=" enter your email",
                    value=" <%= typeof email != 'undefined' ? email:''%> "

                    />
                    </div>  
                     <div class="form-group">
                    <label for="password">create password</label>
                    <input  
                    type="password",
                    name="password",
                    placeholder="create password",
                    value=" <%= typeof  password != 'undefined'? password: '' %>"

                    />
                    </div>
                       <div class="form-group">
                    
                    <label for="password2">confirm password</label>
                    <input  
                    type="password",
                    name="password2",
                    placeholder="confirm your password",
                    value="<%= typeof password != 'undefined' ? password2: '' %> "

                    />
                    </div>
                    <button type="submit" class="btn"> register </button>
                </form>
        </div>